<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.evancoleman.alfred-up-next</string>
	<key>connections</key>
	<dict>
		<key>0700EA77-9521-43D1-9D7D-5731458A66D2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>42D05639-3F0F-4760-8214-317167E4173D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>133DA8D0-00C9-49CD-91E2-DFCE511C03E6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A8614703-EFE4-4634-81F8-66BBDFD49C0A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0700EA77-9521-43D1-9D7D-5731458A66D2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>878A774A-9E3E-4577-96C2-9A797F23D155</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>133DA8D0-00C9-49CD-91E2-DFCE511C03E6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Evan Coleman</string>
	<key>description</key>
	<string>Add songs to Up Next in iTunes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Up Next</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Pairing Successful!</string>
				<key>title</key>
				<string>Alfred Up Next</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A8614703-EFE4-4634-81F8-66BBDFD49C0A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./dopair.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>133DA8D0-00C9-49CD-91E2-DFCE511C03E6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>pair</string>
				<key>runningsubtext</key>
				<string>Pairing...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./pair.rb {query}</string>
				<key>subtext</key>
				<string>Enter 4-Digit, Numeric Pin</string>
				<key>title</key>
				<string>Pair Up Next With iTunes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>878A774A-9E3E-4577-96C2-9A797F23D155</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>126</integer>
				<key>script</key>
				<string>/usr/bin/ruby ./queue.rb {query}</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0700EA77-9521-43D1-9D7D-5731458A66D2</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>62</integer>
				<key>keyword</key>
				<string>next</string>
				<key>runningsubtext</key>
				<string>working...</string>
				<key>script</key>
				<string>/usr/bin/ruby ./main.rb {query}</string>
				<key>subtext</key>
				<string>Queue Songs in iTunes</string>
				<key>title</key>
				<string>Add To Up Next</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>21557827-8003-42B7-A042-16D4C9278FEC</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>Queued {query}</string>
				<key>title</key>
				<string>Alfred Up Next</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>42D05639-3F0F-4760-8214-317167E4173D</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0700EA77-9521-43D1-9D7D-5731458A66D2</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>133DA8D0-00C9-49CD-91E2-DFCE511C03E6</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>21557827-8003-42B7-A042-16D4C9278FEC</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>42D05639-3F0F-4760-8214-317167E4173D</key>
		<dict>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>878A774A-9E3E-4577-96C2-9A797F23D155</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>A8614703-EFE4-4634-81F8-66BBDFD49C0A</key>
		<dict>
			<key>ypos</key>
			<real>90</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://edc.me</string>
</dict>
</plist>
